/*
 * Global styles for the demo application.
 */

:root {
    color: #544;
    background-color: #d0cdcd;
    font-family:
        'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
        Verdana, sans-serif;
    font-size: 14px;
}

html,
body,
#app {
    /* Fill the screen */
    height: 100%;
    /* Make sure they do not overflow */
    margin: 0;
}

input[type='text'],
input:not([type]) {
    font-family: Consolas, 'Courier New', Courier, monospace;
}
